<ion-card>
  <ion-item>
    <ion-icon name="person" item-left></ion-icon>
    <h2>{{candidate.owner.name}}</h2>
    <button item-right outline ion-button icon-only color="secondary" (click)="toggleMap()">
      <ion-icon name="navigate"></ion-icon>
    </button>
    <button item-right ion-button icon-only clear [hidden]="!expert || candidate.status !== 'active'" (click)="presentActionSheet()">
      <ion-icon name="more"></ion-icon>
    </button>
  </ion-item>
  <img id="picture{{candidate.id}}" [hidden]="displayPanorama" [src]="getUrl(candidate)" />
  <googleMap [hidden]="!displayPanorama" [panoramaOnly]="true" [fix]="candidate.id" [candidate]="candidate"></googleMap>
  <ion-card-content text-wrap>
    <classification-list [candidate]="candidate" [classifications]="candidate.classifications" [workflow]="workflow" [expert]="expert"></classification-list>
    <message-list [candidate]="candidate" [messages]="candidate.messages" [displayMessages]="displayMessages"></message-list>
  </ion-card-content>
  <ion-row>
    <ion-col>
      <button ion-button color="primary" clear small icon-left (click)="toggleMessages()">
        <ion-icon name="mail"></ion-icon>
        Mensajes
    </button>
    </ion-col>
    <ion-col>
      <button ion-button color="primary" clear small icon-left (click)="toggleNewClassification()">
        <ion-icon name="add"></ion-icon>
        Clasificación
    </button>
    </ion-col>
  </ion-row>
</ion-card>
