<ion-header>
  <ion-navbar>
    <ion-title *ngIf="configuration">{{configuration.title}} - Perfil del Usuario</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding *ngIf="!auth.authenticated()">

  <button ion-button block [navPush]="tutorialPage">Tutorial</button>
  
  <button ion-button block (click)="auth.login()">Login</button>
  
</ion-content>

<ion-content padding *ngIf="auth.authenticated()">
  
  <ion-card>
    <ion-item *ngIf="auth.user">
      <ion-avatar item-left>
        <img src="{{ auth.user.picture }}">
      </ion-avatar>
      <h2>{{ auth.user.nickname }}</h2>
      <p>{{ auth.user.email }}</p>
    </ion-item>
  </ion-card>
  
  <button ion-button block [hidden]="!isExpert" [navPush]="expertPage">Panel de Experto</button>

  <button ion-button block [navPush]="candidatesPage" [navParams]="{own: true}">Mis Candidatos</button>

  <button ion-button block [navPush]="tutorialPage">Tutorial</button>

  <button ion-button block (click)="auth.logout()">Logout</button>
  
</ion-content>