<ion-header>
  <ion-navbar>
    <ion-title *ngIf="configuration">{{configuration.title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding *ngIf="!auth.authenticated()">

  <button ion-button block [navPush]="tutorialPage">Tutorial</button>
  
  <button ion-button block (click)="auth.login()">Login</button>
  
</ion-content>

<ion-content padding *ngIf="auth.authenticated()">
  
  <ion-card>
    <ion-item *ngIf="auth.user">
      <ion-avatar item-left>
        <img src="{{ auth.user.picture }}">
      </ion-avatar>
      <h2>{{ auth.user.nickname }}</h2>
      <p>{{ auth.user.email }}</p>
    </ion-item>
  </ion-card>
  
  <button ion-button block [hidden]="!isExpert" [navPush]="expertPage">Panel de Experto</button>

  <button ion-button block [navPush]="candidatesPage" [navParams]="{own: true}">Mis Candidatos</button>

  <button ion-button block [navPush]="tutorialPage">Tutorial</button>

  <button ion-button block (click)="auth.logout()">Logout</button>

  <ion-card>
    <ion-card-header>
      Logros Obtenidos
    </ion-card-header>
    <ion-card-content>
      <ion-item *ngFor="let badge of badges">
        <!--<ion-avatar item-start>
          <img src="{{badge.image_url}}">
        </ion-avatar>-->
        <ion-icon name="{{badge.image_url}}" item-start></ion-icon>
        <h2>{{badge.name}}</h2>
        <p>{{badge.description}}</p>
      </ion-item>
    </ion-card-content>
  </ion-card>
  
</ion-content>